.header-cont {
    background: #fff;
    box-shadow: 0 2px 6px #614087;
}

.header-cont nav {
    padding: 10px;
}

.header-cont>nav>.head-title {
    color: var(--red);
}

.head-title>img {
    width: 10em;
    filter: drop-shadow(2px 2px 6px #c0c0c0)
}

.header-cont>nav>.head-links>ul>li {
    padding: 10px;
    list-style: none;
}

.header-cont>nav>.head-links>ul>li>a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
}

.header-cont>nav>.head-btns>button {
    margin: 0px 2px;
    min-width: 100px;
    font-weight: bold;
    color: #fff;
    border: none;
}

.header-cont>nav>.head-btns>button:first-child {
    background: var(--blue);
}

.header-cont>nav>.head-btns>button:last-child {
    background: var(--green);
}

@media (max-width: 600px) {
    .header-cont nav {
        flex-direction: column;
    }
}