:root {
  --blue: #283ad8;
  --green: #1db409;
  --black: #121212;
  --red: #ff1d1d;
  --border: #dcdcdc;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  background-color: #ececec;
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
  box-shadow: 0 0 5px #808080c5;
}

.btn:hover {
  border-width: 2px;
  opacity: 0.9;
}

.content-container {
  margin: 10px 30px;
  padding: 10px;
  background: linear-gradient(90deg, #74ebd5 0%, #acb6e5 100%);
  box-shadow: 0 5px 6px 0 gray;
  border-radius: 10px;
  height: calc(100vh - 75px);
}

@media(max-width: 600px) {
  .content-container {
    margin: 5px 0px;
    height: auto;
  }
}